body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8e8e8;
  margin: 0;
}

header {
  width: 100%;
  border-bottom: 4px solid #bababa;
}

.header {
  background-color: white;
}

.header img {
  margin: 0.5% 15% 0 15%;
  max-width: 50px;
}

.container {
  width: 70%;
  margin: 0.5% auto 5% auto;
  display: flex;
  border-bottom: 4px solid #d1d1d1;
}

/* Articles */
.articles {
  width: 66.67%;
  flex-grow: 2;
}

.articles_title {
  background-color: #8a8c1d;
  color: white;
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
}

.title h3 {
  margin: 0;
}

.articles_list {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-grow: 1;
  margin: 20px 0 20px 20px;
  border-bottom: 4px solid #f2f2f2;
}

.article_title {
  border-left: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  box-shadow: 0px 3px 0px #8a8c1d, 0px -3px 0px #8a8c1d;
  height: 30px;
  line-height: 30px;
}

.article_title p {
  margin: 0 15px;
  font-size: 0.8rem;
}

.article_img {
  width: 100%;
}

.article_img img {
  margin-top: 3px;
  max-width: 100%;
}

.article_text {
  flex-grow: 1;
  margin-top: -14px;
  padding: 20px 15px 30px 15px;
  border-left: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
  font-size: 80%;
}

.article_text p {
  /* height: 100%; */
  margin: 0;
  /* font-size: 80%; */
}

/* Events */
.events {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.events_title {
  background-color: #f8f8f8;
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  margin-top: 18.8px;
}

.events_title h3 {
  margin: 0;
}

.events_body {
  background-color: #f8f8f8;
  font-size: 0.8rem;
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 0 20px;
  /* height: auto; */
  flex: 1;
  /* box-flex: 1; */
  /* height: 100%; */
  /* align-self: stretch; */
  /* align-items: stretch; */
  /* flex-direction: column; */
}

.event {
  background-color: white;
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 20px;
  padding: 20px;
  /* flex-grow: 1; */
  /* width: 100%; */
}

.event_title {
  color: #8a8c1d;
}

.event p {
  margin: 5px 0 -3px 0;
}